@model WebAPI.Models.Class1



    <form action="/Home/Index/" method="post">
        <input id="PageID" name="PageID" type="text" class=" feedback-input" placeholder="PageID"/>
        <input id="ProjectID" name="ProjectID" type="text" class=" feedback-input" placeholder="ProjectID" />

        <input id="HelpTitle" name="HelpTitle" type="text" class="feedback-input" placeholder="HelpTitle" />
        <textarea id="HelpBody" name="HelpBody" class="feedback-input" placeholder="HelpBody" ></textarea>
        <input type="submit" value="SUBMIT" />
    </form>